<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>CANDIDATOS</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Cidade</th>
          <th>Nota</th>
          <th>Situação</th>
          <th>Ações</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let candidato of candidatos">
        <td>{{candidato.nome}}</td>
          <td>{{candidato.nome}}</td>
          <td>{{candidato.nome}}</td>
          <td>{{candidato.nome}}</td>
          <td><button class="btn btn-danger">Delete</button>
            <button class="btn btn-info"
              style="margin-left: 10px">Detalhes</button>
          </td>
        </tr>
      </tbody>

    </table>
  </div>
</div>