<nav class="navbar navbar-expand-md navbar-dark bg-dark">

    <a class="navbar-brand" href="#">Hackathon REST API</a>
  
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a routerLink="home" class="nav-link" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item active">
          <a routerLink="cadastrar"class="nav-link" rounterLinkActive="active">Cadastrar</a>
        </li>
        <li class="nav-item active">
          <a routerLink="exibirResultados" class="nav-link" rounterLinkActive="active">Calcular Aprovados</a>
        </li>
      </ul>
    </div>

</nav>

<router-outlet></router-outlet>
